@import 'normalize.css';

:root {
  --primary: #ff642b;

  // border
  --border-input: 1px solid #d9d9d9;
  --border-component: 1px solid #ff642b;
  --border-radius: 6px;

  // input
  --font-color-input: rgba(0, 0, 0, 0.88);
  --font-size-input: 14px;
  --box-shadow-input: 0 0 0 2px rgba(255, 165, 5, 0.1);

  // font
  --font-size-normal: 16px;

  // Default Layout
  --default-layout-header-height: 120px;
  --default-layout-max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  text-rendering: optimizeSpeed;
}

a {
  color: #000;
  text-decoration: none;
}

.form-button {
  width: 100%;
  height: 40px;
  font-size: var(--font-size-normal);
  background-color: var(--primary);
  box-shadow: none;

  &:hover {
    background-color: var(--primary) !important;
    opacity: 0.8;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}