@import 'normalize.css';

:root {
  --primary: #ff642b;
  --secondary: #7f7f7f;

  // border
  --border-input: 1px solid #d9d9d9;
  --border-component: 1px solid #ff642b;
  --border-radius: 6px;

  // input
  --font-color-input: #7f7f7f;
  --font-size-input: 14px;
  --box-shadow-input: 0 0 0 2px rgba(255, 165, 5, 0.1);
  --height-input: 48px;

  // button
  --height-btn: 48px;

  // font
  --font-size-normal: 16px;
  --font-size-heading: 36px;
  --font-size-navLink: 20px;

  // Default Layout
  --default-layout-header-height: 120px;
  --default-layout-max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

body {
  font-weight: 400;
  text-rendering: optimizeSpeed;
}

a {
  color: #000;
  text-decoration: none;
}

.resetBtn {
  background-color: transparent;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
  -webkit-text-fill-color: var(--font-color-input);
}