.wrapper {
	.spinContainer {
		display: flex;
		justify-content: center;
		padding-top: 80px;
	}

	.title {
		strong {
			svg {
				color: var(--primary);
			}

			span {
				font-weight: 500 !important;
				margin-left: 8px;
			}
		}

		h5 {
			font-size: 60px;
		}

		button {
			svg {
				font-size: 32px;
			}

			&:hover {
				color: var(--primary);
			}
		}

		.likeBtn {
			margin-right: 16px;
		}

		.hoverMe {
			margin: 0 8px 0 16px;
			padding: 8px;
		}
	}

	.description {
		.author {
			img {
				width: 40px;
				height: 40px;
				object-fit: cover;
			}
		}

		svg {
			color: var(--primary);
		}

		small {
			padding-left: 8px;
			font-size: 16px;
		}
	}

	.content {
		hr {
			margin: 20px 0;
		}

		p {
			font-size: 20px;
			line-height: 37px;
		}

		img {
			border-radius: 12px;
			max-height: 800px;
			object-fit: cover;
		}

		.instructions {
			margin: 0 -30px;
			display: flex;
			flex-wrap: wrap;
			padding-left: 0;
			list-style: none;

			li {
				padding: 5px 30px;
				border-right: 1px solid rgba(127, 127, 127, 0.1);

				small {
					color: #7F7F7F;
					display: block;
					line-height: 11px;
					padding-bottom: 5px;
				}

				span {
					color: #000;
					text-transform: uppercase;
				}

				&:last-child {
					border-right: none;
				}
			}
		}

		h6 {
			font-size: 30px;
			font-weight: 500 !important;
		}

		.ingredients {
			margin-top: 24px;

			.inputContainer {
				margin-top: 25px;
				padding-left: 40px;

				input {
					border-radius: 50%;
					width: 24px;
					height: 24px;
					margin-left: -40px;
					margin-top: 0;
					border-color: #000;
					border-width: 2px;
					float: left;
					cursor: pointer;
					outline: none;
					box-shadow: none;

					&:checked[type="checkbox"] {
						background-image: url(../../../assets/img/checked.svg);
						background-position: left center;
						background-repeat: no-repeat;
						background-size: 24px;
						background-color: transparent;
						border: none;
						outline: none;
						box-shadow: none;
						border-radius: unset;
					}

					&:checked~label {
						text-decoration: line-through;
						color: #7F7F7F;
					}
				}

				label {
					cursor: pointer;
					font-size: 18px;
				}
			}
		}

		.nutrition {
			.container {
				border-radius: 12px;
				background-color: #f9f9f9 !important;
			}

			ul {
				padding-top: 5px;
				list-style: none;
				padding-left: 0;

				li {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					padding: 6px 0;
					border-bottom: 1px solid rgba(127, 127, 127, 0.1);

					.nutritionKey {
						color: #303030;
						font-size: 16px;
						width: 50%;
						font-weight: 300;
						text-transform: capitalize;
					}

					.nutritionValue {
						font-weight: 400;
						color: #000;
						text-align: right;
						font-size: 16px;
						width: 50%;
					}
				}
			}
		}

		.methods {
			padding-top: 15px;

			li {
				font-size: 18px;
				padding-left: 40px;
				position: relative;
				padding-right: 30px;
				padding-bottom: 20px;

				span {
					position: absolute;
					top: 2px;
					left: 0;
					width: 24px;
					height: 24px;
					border-radius: 100%;
					background-color: var(--primary);
					font-weight: 500;
					font-size: 14px;
					color: #fff;
					text-align: center;
					line-height: 22px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}
			}
		}
	}
}